@media screen and (max-width: 855px) {
    .div1 {
        display: none;
    }
    .nav-mobile {
        display: flex;
        padding-bottom: 0;
    }
    .div {
        margin: 0;
    }
    .diva {
        display: flex;
        justify-content: center;
    }
    .div2 {
         /* padding-right: 70%; */
         width: 90%;
         margin: 0 auto;
         text-align: left;
         font-size: 20px;
         
    }
    .firstsection {
        width: 100%;
        /* height: 700px; */
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .secondsection {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
    .explore {
        flex-direction: row;

    }
    .flex {
        /* padding-top: 5px; */
        margin-bottom: 30px;
    }
    footer {
        display: block;
        text-align: center;
        margin-top: 0;
    }
    .footericon {
        padding-left: 75px;
        /* padding-bottom: 75px; */
    }
    
        
    
}