body {
 margin: 0;
}
.backdrop {
    width: 100%;
    height: 100%;
    background: white transparent;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
.show-backdrop {
    display: block;
}
.firstsection {
    background: url(header.jpg);
    background-position: bottom-right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    color: white;
    box-sizing: border-box;
}
.div1 {
    width: 50%;
    display: flex;
}
.div1 h1 {
    margin: 20px 20px;
}
.div0 {
    display: flex;
    width: 50%;
    padding-left: 390px;
    margin-left: 50px;
}
.div0 h1 {
    margin: 20px 50px;
}
.div2 {
    width: 40%;
    margin-left: 700px;
    
}

.btn1 {
    background-color: tomato;
    border-radius: 30px;
    color: white;
    border-color: rgb(247, 83, 43);
    height: 30px;
    width: 150px;
    height: 40px;
}

.div3 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 0px;
}
.flex {
    margin-top: 0;
}
.explore {
    background: tomato;
    border-radius: 5%;
    margin-bottom: 15px;
    width: 300px;
    margin-top: 10px;
}
.explore h2 {
    color: white;
    padding: 15px 0 15px 20px;
}
.explore h1 {
    color: white;
    padding: 15px 0 15px 20px;
    font-size: 35px;
}
.explore p {
    color: white;
    padding: 0 0  30px 25px;
}
.explore h1 button {
    background: white;
    color: tomato;
    border-radius: 20px;
    margin: 40px 0 15px 25px;
    padding: 20px;
    font-size: large;
    border: tomato;
}
.thirdsection {
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
.thirdsection h1 {
    padding-top: 10px;
    padding-left: 25px;
    color: white;
}


.btn2{
    background: white;
    color: tomato;
    border-radius: 20px;
     font-size: large;
    border: tomato;
    height: 40px;
    margin-top: 15px;
    margin-right: 15px;
}
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.footericon {
    margin-right: 60PX;
    margin-top: 20px;
    justify-content: space-evenly;
    font-size: 25px;
    text-decoration: none;
}
a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

.white {
    background-color: white;
    display: block;
    padding: 15px 0;
    margin-top: 0;
}

.nav-mobile {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background: tomato;
    display: none;
}
.nav-brand {
height: 100px;
width: 300px;
display: flex;
align-items: center;
}
.hamburger-container {
height: 30px;
width: 50px;
display: flex;
align-items: center;
z-index: 6;


}
.mobile-text {
    font-size: 25px;
    font-weight: border;
    margin-left: 20px;
    color: white;
}
.menu {
    height: 4px;
    background: white;
    width: 100%;
    position: relative;
   
}
.menu::before {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    transform: translateY(-10px);
    background: white;
  
}
.menu::after {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    background: white;
    transform: translateY(10px);
    
}
.showburger .menu {
    background: transparent;
    padding-top: 35px;
    transition: all 1s ease;
    transform: translatex(0%);
  
}
.showburger .menu::before {
 transform: translateY(0px) rotate(45deg);
}
.showburger .menu::after {
    transform: translateY(0px) rotate(-45deg);
}
.mobile-links-holder {
    /* border: 3px solid orange; */
    transition: all 0.5s ease;

    position: fixed;
    transform: translatex(200%);
    right: 0;
    top: 0;
    height: 310px;
    width: 100%;
    background: tomato;
    color: white;
   display: block;
   padding: 12px 0;
}
.show-mobile-links-holder {
    transform: translatex(0%);
}

.mobile-active-link {
    background: white;
    color: tomato;
    display: block;
    display: flex;
    width: 100%;
    height: 55px;
    align-items: center;
    padding-left: 25px;
}
.big {
    font-size: 45px;
    padding-left: 25px;
    padding-top: 0px;
}
.tet {
    padding-left: 25px;
    font-size: 30px;
}